<div class="container basic">
  <div class="row justify-content-center">
    <input
      [(ngModel)]="cityId"
      (keydown.enter)="submit()"
      class="search-city-weather"
      type="text"
      placeholder="Type city name or id and press Enter"
    />
  </div>

  <div class="row">
    <div *ngIf="loading" class="loader">
      Loading...
    </div>

    <div *ngIf="error" class="error">
      {{error.message}}
    </div>

    <div *ngIf="(weatherInfo | json) != '{}'" class="w-100">
      <div class="card" class="m-2">
        <div class="card-body">
          <h2>{{weatherInfo.name}}, {{weatherInfo.sys.country}}</h2>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Temperature: {{weatherInfo.main.temp | temperatureConverter: 'C'}}ºC</li>
            <li class="list-group-item">Clouds: {{weatherInfo.clouds.all}}%</li>
            <li class="list-group-item">Humidity: {{weatherInfo.main.humidity}}%</li>
            <li class="list-group-item">Pressure: {{weatherInfo.main.pressure}}hPa</li>
            <li class="list-group-item">Wind direction: {{weatherInfo.wind.deg}}°</li>
            <li class="list-group-item">Wind speed: {{weatherInfo.wind.speed}}m/s</li>
          </ul>
      </div>
    </div>
  </div>

</div>
